* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #120d16;
    font-family: Arial, sans-serif;
}


/* ================= HEADER ================= */

header {
    max-width: 1500px;
    margin: auto;
    padding: 32px 55px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ================= LOGO ================= */

.logo {
    display: flex;
    align-items: center;

    text-decoration: none;
}

.logo img {
    width: 58px;
    height: 58px;
    margin-right: 5px;
}


/* CandyRush Name */

.candy-name {
    font-family: 'Baloo 2', cursive;

    font-size: 40px;
    font-weight: 800;

    letter-spacing: 1px;
}


/* Different colours for each letter */

.candy-name span:nth-child(1) {
    color: #ff5c8a;
}

.candy-name span:nth-child(2) {
    color: #ffd43b;
}

.candy-name span:nth-child(3) {
    color: #c77dff;
}

.candy-name span:nth-child(4) {
    color: #63e6be;
}

.candy-name span:nth-child(5) {
    color: #ff8fab;
}

.candy-name span:nth-child(6) {
    color: #ffb703;
}

.candy-name span:nth-child(7) {
    color: #a78bfa;
}

.candy-name span:nth-child(8) {
    color: #5eead4;
}

.candy-name span:nth-child(9) {
    color: #ff6b6b;
}


/* ================= NAVIGATION ================= */

nav {
    display: flex;
    align-items: center;

    gap: 50px;

    background: #211923;

    padding: 35px 40px;

    border-radius: 50px;
}


nav a {
    color: #dddddd;

    text-decoration: none;

    font-size: 19px;
    font-weight: 600;

    transition: 0.2s;
}


/* Candy coloured hover effects */

nav a:nth-child(1):hover {
    color: #ff5c8a;
}

nav a:nth-child(2):hover {
    color: #ffd43b;
}

nav a:nth-child(3):hover {
    color: #c77dff;
}

nav a:nth-child(4):hover {
    color: #63e6be;
}


/* ================= SHOP BUTTON ================= */

.shop {
    background: #ff5c8a;

    color: white;

    text-decoration: none;

    font-size: 16px;
    font-weight: bold;

    padding: 25px 32px;

    border-radius: 40px;

    margin-left: 100px;

    transition: 0.2s;
}


.shop:hover {
    background: #ff3973;
}

/* ================= MOBILE ================= */

@media (max-width: 900px) {

    header {
        padding: 25px 30px;
    }

    .candy-name {
        font-size: 32px;
    }

    .logo img {
        width: 48px;
        height: 48px;
    }

    nav {
        gap: 20px;
        padding: 15px 22px;
    }

    nav a {
        font-size: 15px;
    }

    .shop {
        padding: 14px 22px;
        font-size: 14px;
    }
}